{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {% if error_msg %}
            <div class="alert alert-danger" role="alert">
                {{ error_msg }}
            </div>
        {% endif %}
    </div>
</div>
<div class="space" style="padding-top: 100px">
    <h1></h1>
  </div>
<div class="row">
    <div class="col">
        {# User's Profile Picture #}
        <img class="propic" src="data:image/png;base64,{{image}}" alt="Profile Picture">
    </div>
    <div class="col">
        {# Indicate which user's reviews we're looking at #}
        <h2>{{ user.username }}'s Reviews</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        {# Show all reviews made by the user #}
        <p>Total reviews: {{ reviews|length }}</p>
        {% for review in reviews %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ review.movie_title }}</h5>
                    <p class="card-text">{{ review.content }}</p>
                    <p class="card-text">
                        <small class="text-muted">Reviewed on {{ review.date }}</small>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
