movie {
  max-width: 80;
  padding: 1;
}

.navbar {
  background-color: lightcoral !important;
}

.navbar-light .navbar-brand h1 {
  color: gainsboro;
}

.space {
  padding-top: 200px;
}

.word {
  color: #584848;
}

.card-body > img {
  max-width: 200;
}

.media-list {
  border-top: 1px dashed rgb(150, 150, 150);
}

.review-item {
  border-bottom: 1px dashed #a5a5a5;
}

.propic {
  max-width: 50%;
}

.comment-pic {
  max-width: 64px;
}

.button-container {
  margin: 20px;
}